.MMM-NiceHash .module-header {
	text-align: left;
}

.nicehash {
	display: flex;
	flex-direction: column;
	line-height: 1.1;
	font-size: 1.2rem;
	white-space: nowrap;
}

.incomes .earn-left::before {content: '$';}
.incomes .earn-right::after {content: '$';}
.incomes {
	display: flex;
	justify-content: space-between;
	margin-bottom: .75rem;
}

.no-rigs {margin: 0; text-align: center;}
.rigs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: .5rem 2rem;
}

.rigs .rig {
	display: flex;
	align-items: center;
}

.rigs .rig.success .name::before {background-color: #408140;}
.rigs .rig.error .name::before {background-color: #e53935;}
.rigs .rig.unknown .name::before {background-color: #767676;}
.rigs .rig .name::before {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.rigs .rig .name {
	padding-left: calc(.75rem + 7px);;
	position: relative;
	margin-right: 1rem;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.temperature::after {
	content: '°';
}
.temperature {
	text-align: right;
	margin-left: auto;
}
